/* ================================================== *
 * General                                            *
 * ================================================== */


body {
	font-family: sans-serif;
	font-size: 12px;
	background-color: #a9a9a9;
}
hr {
	border: 1px dotted;
	border-style: none none dotted;
}
.homepage-body {
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	margin: 0px auto 0px auto;
	max-width: 900px;
	border-radius: 15px;
}
h1 {
	font-size: 20px;
	font-weight: normal;
	color: #444;
	list-style: square;
	padding: 8px 0px 8px 0px;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}
h2 {
	font-size: 17px;
	font-weight: normal;
	color: #000;
	padding: 15px 0px 3px 0px;
	border-bottom: 1px solid #aaa;
}
h3 {
	font-size: 13px;
	font-weight: normal;
	color: #000;
	padding: 3px 0px 0px 0px;
	border-bottom: 1px solid #aaa;
}
div {
	margin: 10px 0px 10px 0px;
	line-height: 19px;
}
.contents {
	padding : 10px 10px 10px 10px;
	list-style-position : inside;
	text-align : left;
	border-collapse : collapse;
	border : 1px solid #999;
}



/* ================================================== *
 * Tables                                             *
 * ================================================== */


/* ---------------------- *
 * Plain horizontal table *
 * ---------------------- */

.table-plain-h {
	background: #fff;
	margin: 5px 0px 5px 0px;
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
}
.table-plain-h th {
	font-size: 14px;
	font-weight: normal;
	color: #000;
	padding: 5px 15px 5px 15px;
	border-bottom: 1px solid #858585;
}
.table-plain-h tbody td {
	color: #444;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 15px 5px 15px;
}
.table-plain-h tfoot td {
	color: #000;
	padding: 5px 15px 5px 15px;
	border-top: 1px solid #858585;
}


/* -------------------- *
 * Plain vertical table *
 * -------------------- */

.table-plain-v {
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-collapse: collapse;
	font-size: 12px;
}
.table-plain-v th {
	padding: 5px 15px 5px 15px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #858585;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #444;
}
.table-plain-v td {
	padding: 5px 15px 5px 15px;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #777;
}


/* ---------------------- *
 * Horizontal zebra table *
 * ---------------------- */

.table-zebra-h {
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-collapse: collapse;
	font-size: 12px;
}
.table-zebra-h th {
	font-size: 14px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	color: #444;
}
.table-zebra-h td {
	padding: 5px 10px 5px 10px;
	color: #777;
}
.table-zebra-h .odd {
	background: #e8e8e8;
}


/* -------------------- *
 * Horizontal box table *
 * -------------------- */

.table-box-h {
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #999;
	font-size: 12px;
}
.table-box-h th {
	font-size: 13px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	background: #d5d5d5;
	border-bottom: 1px solid #bebebe;
	color: #000;
}
.table-box-h td {
	padding: 5px 10px 5px 10px;
	background: #f1f1f1; 
	color: #444;
}
.table-box-h tbody td {
	border-bottom: 1px solid #bebebe;
}


/* ------------------ *
 * Vertical box table *
 * ------------------ */

.table-box-v {
	margin: 5px 0px 5px 0px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #bebebe;
	border-bottom: 7px solid #bebebe;
	font-size: 12px;
}
.table-box-v th {
	font-size: 13px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	background: #d5d5d5;
	border-right: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	color: #444;
}
.table-box-v thead tr {
	border-bottom: 1px solid #cccccc;
}
.table-box-v tbody td {
	padding: 5px 10px 5px 10px;
	background: #f1f1f1; 
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	color: #777;
}
.table-box-v tfoot td {
	padding: 5px 10px 5px 10px;
	background: #f1f1f1; 
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	color: #777;
}
.table-box-v tfoot tr {
	border-top: 1px solid #cccccc;
}


/* ---------- *
 * Grid table *
 * ---------- */

.table-grid {
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #999;
	font-size: 12px;
}
.table-grid th {
	font-size: 13px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	background: #d5d5d5;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	color: #000;
}
.table-grid td {
	padding: 5px 10px 5px 10px;
	background: #f1f1f1; 
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	color: #444;
}


/* --------------- *
 * Newspaper table *
 * --------------- */

.table-newspaper {
	margin: 5px 0px 5px 0px;
	max-width: 70%;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #999;
	font-size: 12px;
}
.table-newspaper th {
	background: #fff;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #000;
}
.table-newspaper td {
	background: #f1f1f1;
	padding: 5px 10px 5px 10px;
	color: #444;
}
.table-newspaper tfoot tr td {
	background: #fff;
	font-size: 10px;
	padding: 5px 5px 5px 5px;
	color: #444;
}


/* ---------------- *
 * One-column table *
 * ---------------- */

.table-one-column {
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #999;
	font-size: 12px;
}
.table-one-column th {
	font-size: 13px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	background: #d5d5d5;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	color: #000;
}
.table-one-column td {
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	color: #444;
}
.table-one-column .first {
	background: #e0e0e0; 
}




/* ================================================== *
 * Bullet lists                                       *
 * ================================================== */


/* ---------------- *
 * Menu bullet list *
 * ---------------- */

.bullet-menu {
	list-style: none;
	background: #aeaeae;
	padding: 0px 0px 0px 0px;
	margin: -4px 0px 10px 0px;
	line-height: 25px;
	width: 100%;
	height: 25px;
}
.bullet-menu li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}
.bullet-menu a {
	text-decoration: none;
	color: #fff;
	background: #aeaeae;
	border-right: 1px solid #ffffff;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 0px 0px;
}
.bullet-menu a:hover {
	background: #ffb000;
}



/* ----- *
 * Plain *
 * ----- */

.bullet-plain {
	list-style-type: square;
	list-style-position: outside;
	color: #339;
	margin-bottom: 10px;
	line-height: 18px;
}

.bullet-plain ul li {
	list-style-type: disc;
}

.bullet-plain ul li ul li {
	list-style-type: circle;
}



/* -------------- *
 * Plain (spaced) *
 * -------------- */

.bullet-plain-spaced {
	list-style-type: square;
	list-style-position: outside;
	color: #339;
	margin-bottom: 10px;
	line-height: 18px;
}

.bullet-plain-spaced li {
	padding: 3px 0px 3px 0px;
}

.bullet-plain-spaced ul li {
	list-style-type: disc;
}

.bullet-plain-spaced ul li ul li {
	list-style-type: circle;
}



/* ================================================== *
 * Numbered lists                                     *
 * ================================================== */


/* ----- *
 * Plain *
 * ----- */

.number-plain {
	list-style-position: outside;
	color: #339;
	margin-bottom: 10px;
	line-height: 18px;
}



/* ================ *
 * Definition lists *
 * ================ */


/* ----- *
 * Plain *
 * ----- */

.definition-plain dl {
	margin: 0px;
	padding: 0px;
}

.definition-plain dt {
	color: #339;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

.definition-plain dd {
	margin: 0px;
	padding: 0px 0px 0px 40px;
}



/* =========*
 * Sections *
 * =========*/


/* --- *
 * Box *
 * --- */

.div-box {
	margin: 5px 0px 5px 0px;
	border-collapse: collapse;
	border-top: 7px solid #bebebe;
	border-bottom: 7px solid #bebebe;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	background: #f1f1f1; 
}